.slick-slider {
    margin-top: 18px;
}

img {
    width: 100%;
    border-radius: 8px;
}

.slick-dots {
    bottom: 30px;
}

.slick-dots li button::before {
    color: white;
    opacity: 1;
    font-size: 12px; /* زيادة الحجم قليلاً لتحسين الرؤية */
}

.slick-dots li.slick-active button::before {
    font-size: 16px; /* زيادة الحجم قليلاً لتحسين الرؤية */
}

.slick-prev, .slick-next {
    display: none !important;
}
